<div id='shopping' class='shopping-wrapper'>
  <section class='container shopping'>
    <div class='shopping-cart'>
      <ul class='cart-title'>
        <li class='cart-title__img'>
          商品
        </li>
        <li class='cart-title__commodityname'>
          單價
        </li>
        <li class='cart-title__price'>
          數量
        </li>
        <li class='cart-title__quantity'>
          總計
        </li>
        <li class='cart-title__item'>
          操作
        </li>
      </ul>
      <ul class='shopping-list'>
        {{#each cart}}
          {{#with this}}
            <div class='shopping-cart-content'>
              <li class='content-detail'>
                <a href='/product/{{id}}'>
                  <img
                    src='images/{{classname}}.jpg'
                    alt=''
                    class='content__img'
                  />
                </a>
                <p class='content__name'>
                  {{name}}
                </p>
              </li>
              <li class='content__price'>
                {{sale_price}}
              </li>
              <form
                class='content__price-form'
                method='post'
                action='/edit_product_quantity'
              >
                <div class='content-box'>
                  <input type='hidden' value='{{id}}' name='id' />
                  <input
                    type='submit'
                    value='-'
                    class='content__btn'
                    name='decrease'
                  />
                  <input
                    type='text'
                    value='{{quantity}}'
                    name='quantity'
                    class='content__quantity'
                    readonly
                  />
                  <input
                    type='submit'
                    value='+'
                    class='content__btn'
                    name='increase'
                  />
                </div>
              </form>
              <li class='content__total'>
                {{price}}
              </li>
              <form method='post' action='/remove_product'>
                <input type='hidden' name='id' value='{{id}}' />
                <input
                  type='image'
                  src='images/delect.png'
                  alt='Submit'
                  name='remove__btn'
                  class='content__icon'
                />
              </form>
            </div>
          {{/with}}
        {{/each}}
      </ul>
    </div>
  </section>
  <input
    onclick="window.location.href='/checkout'"
    type='button'
    class='shopping__btn'
    value='馬上結帳'
  />
</div>