<div class="wrapper">
    <!-- Star section2 -->
    <section class="reciprocal">
        <div class="reciprocal-container container">
            <img src="/images/alarm-clock.png" alt="" class="reciprocal__img">
            <p class="reciprocal__today">每日特賣</p>
            <div class="reciprocal__time">
                <span class="hours">08</span>
                <p>:</p>
                <span class="minutes">01</span>
                <p>:</p>
                <span class="seconds">27</span>
            </div>
        </div>
    </section>
    <!-- End section2 -->

    <!-- Star section3 -->
    <!-- Graphics card -->
    <section class="commodity">
        <h2 class="commodity_title" id="graphicscard">顯示卡</h2>
        <div class="commodity-container container" id="graphicscardlist">
            {{#each rows1}}
            {{#with this}}
            <div class="commodity-col">
                <form action="/addToCart" method="POST" class="commodity-card">
                    <div class="card-cover">
                        <p class="card__discount ">{{discount}}折</p>
                        <a href="/product/{{id}}">
                            <img src="/images/{{class}}.jpg" alt="" class="card__img">
                        </a>
                    </div>
                    <div class="card-content">
                        <p class="card__name">{{name}}</p>
                        <select name="quantity" id="{{class}}_{{id}}" class="card__select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="card-oder">
                        <div class="card-price">
                            <div class="card-price__priceafter">${{sale_price}}</div>
                            <div class="card-price__pricebefore">${{price}}</div>
                        </div>
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="classname" value="{{class}}">
                        <input type="hidden" name="name" value="{{name}}">
                        <input type="hidden" name="price" value="{{price}}">
                        <input type="hidden" name="sale_price" value="{{sale_price}}">
                        <input type="hidden" name="image" value="{{image}}">
                        <input type="submit" value="加入購物車" class="card__btn">
                    </div>
                </form>
            </div>
            {{/with}}
            {{/each}}
        </div>
    </section>
    <!-- Hard drive -->
    <section class="commodity">
        <h2 class="commodity_title" id="harddrive">硬碟</h2>
        <div class="commodity-container container" id="harddrivelist">
            {{#each rows2}}
            {{#with this}}
            <div class="commodity-col">
                <form action="/addToCart" method="POST" class="commodity-card">
                    <div class="card-cover">
                        <p class="card__discount ">{{discount}}折</p>
                        <a href="/product/{{id}}">
                            <img src="/images/{{class}}.jpg" alt="" class="card__img">
                        </a>
                    </div>
                    <div class="card-content">
                        <p class="card__name">{{name}}</p>
                        <select name="quantity" id="{{class}}_{{id}}" class="card__select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="card-oder">
                        <div class="card-price">
                            <div class="card-price__priceafter">${{sale_price}}</div>
                            <div class="card-price__pricebefore">${{price}}</div>
                        </div>
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="classname" value="{{class}}">
                        <input type="hidden" name="name" value="{{name}}">
                        <input type="hidden" name="price" value="{{price}}">
                        <input type="hidden" name="sale_price" value="{{sale_price}}">
                        <input type="hidden" name="image" value="{{image}}">
                        <input type="submit" value="加入購物車" class="card__btn">
                    </div>
                </form>
            </div>
            {{/with}}
            {{/each}}
        </div>
    </section>
    <!-- Keyboard&Mouse -->
    <section class="commodity">
        <h2 class="commodity_title" id="keyboard&mouse">鍵盤/滑鼠</h2>
        <div class="commodity-container container" id="keyboard_mouselist">
            {{#each rows3}}
            {{#with this}}
            <div class="commodity-col">
                <form action="/addToCart" method="POST" class="commodity-card">
                    <div class="card-cover">
                        <p class="card__discount ">{{discount}}折</p>
                        <a href="/product/{{id}}">
                            <img src="/images/{{class}}.jpg" alt="" class="card__img">
                        </a>
                    </div>
                    <div class="card-content">
                        <p class="card__name">{{name}}</p>
                        <select name="quantity" id="{{class}}_{{id}}" class="card__select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="card-oder">
                        <div class="card-price">
                            <div class="card-price__priceafter">${{sale_price}}</div>
                            <div class="card-price__pricebefore">${{price}}</div>
                        </div>
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="classname" value="{{class}}">
                        <input type="hidden" name="name" value="{{name}}">
                        <input type="hidden" name="price" value="{{price}}">
                        <input type="hidden" name="sale_price" value="{{sale_price}}">
                        <input type="hidden" name="image" value="{{image}}">
                        <input type="submit" value="加入購物車" class="card__btn">
                    </div>
                </form>
            </div>
            {{/with}}
            {{/each}}
        </div>
    </section>
    <!-- Memory card -->
    <section class="commodity">
        <h2 class="commodity_title" id="memorycard">記憶卡</h2>
        <div class="commodity-container container" id="memorycardlist">
            {{#each rows4}}
            {{#with this}}
            <div class="commodity-col">
                <form action="/addToCart" method="POST" class="commodity-card">
                    <div class="card-cover">
                        <p class="card__discount ">{{discount}}折</p>
                        <a href="/product/{{id}}">
                            <img src="/images/{{class}}.jpg" alt="" class="card__img">
                        </a>
                    </div>
                    <div class="card-content">
                        <p class="card__name">{{name}}</p>
                        <select name="quantity" id="{{class}}_{{id}}" class="card__select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="card-oder">
                        <div class="card-price">
                            <div class="card-price__priceafter">${{sale_price}}</div>
                            <div class="card-price__pricebefore">${{price}}</div>
                        </div>
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="classname" value="{{class}}">
                        <input type="hidden" name="name" value="{{name}}">
                        <input type="hidden" name="price" value="{{price}}">
                        <input type="hidden" name="sale_price" value="{{sale_price}}">
                        <input type="hidden" name="image" value="{{image}}">
                        <input type="submit" value="加入購物車" class="card__btn">
                    </div>
                </form>
            </div>
            {{/with}}
            {{/each}}
        </div>
    </section>
    <!-- Screen -->
    <section class="commodity">
        <h2 class="commodity_title" id="screen">螢幕</h2>
        <div class="commodity-container container" id="screenlist">
            {{#each rows5}}
            {{#with this}}
            <div class="commodity-col">
                <form action="/addToCart" method="POST" class="commodity-card">
                    <div class="card-cover">
                        <p class="card__discount ">{{discount}}折</p>
                        <a href="/product/{{id}}">
                            <img src="/images/{{class}}.jpg" alt="" class="card__img">
                        </a>
                    </div>
                    <div class="card-content">
                        <p class="card__name">{{name}}</p>
                        <select name="quantity" id="{{class}}_{{id}}" class="card__select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="card-oder">
                        <div class="card-price">
                            <div class="card-price__priceafter">${{sale_price}}</div>
                            <div class="card-price__pricebefore">${{price}}</div>
                        </div>
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="classname" value="{{class}}">
                        <input type="hidden" name="name" value="{{name}}">
                        <input type="hidden" name="price" value="{{price}}">
                        <input type="hidden" name="sale_price" value="{{sale_price}}">
                        <input type="hidden" name="image" value="{{image}}">
                        <input type="submit" value="加入購物車" class="card__btn">
                    </div>
                </form>
            </div>
            {{/with}}
            {{/each}}
        </div>
    </section>
    <!-- Computer -->
    <section class="commodity">
        <h2 class="commodity_title" id="computer">主機</h2>
        <div class="commodity-container container" id="computerlist">
            {{#each rows6}}
            {{#with this}}
            <div class="commodity-col">
                <form action="/addToCart" method="POST" class="commodity-card">
                    <div class="card-cover">
                        <p class="card__discount ">{{discount}}折</p>
                        <a href="/product/{{id}}">
                            <img src="/images/{{class}}.jpg" alt="" class="card__img">
                        </a>
                    </div>
                    <div class="card-content">
                        <p class="card__name">{{name}}</p>
                        <select name="quantity" id="{{class}}_{{id}}" class="card__select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="card-oder">
                        <div class="card-price">
                            <div class="card-price__priceafter">${{sale_price}}</div>
                            <div class="card-price__pricebefore">${{price}}</div>
                        </div>
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="classname" value="{{class}}">
                        <input type="hidden" name="name" value="{{name}}">
                        <input type="hidden" name="price" value="{{price}}">
                        <input type="hidden" name="sale_price" value="{{sale_price}}">
                        <input type="hidden" name="image" value="{{image}}">
                        <input type="submit" value="加入購物車" class="card__btn">
                    </div>
                </form>
            </div>
            {{/with}}
            {{/each}}
        </div>
    </section>
    <!-- End section3 -->
</div>

<script src="/public/js/index.js"></script>

{{!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
        var time = document.querySelectorAll('.reciprocal__time span');

        var tempDate = new Date();
        var tempYear = tempDate.getFullYear();
        var tempMonth = tempDate.getMonth() + 1;
        var tempDay = tempDate.getDate();

        var reciprocal = new Date(tempYear, tempMonth, tempDay + 1, 0, 0, 0); //倒數時間
        var reciprocalTime = reciprocal.getTime();

        function remaindingTime() {
            var today = new Date().getTime();

            var t = reciprocalTime - today;

            var oneDay = 24 * 60 * 60 * 1000;
            var oneHour = 60 * 60 * 1000;
            var oneMinute = 60 * 1000;

            var hours = Math.floor((t % oneDay) / oneHour); //小時
            var minutes = Math.floor((t % oneHour) / oneMinute); //分鐘
            var seconds = Math.floor((t % oneMinute) / 1000); //秒鐘

            var values = [hours, minutes, seconds];
            function format(values) {
                if (values < 10) {
                    return (values = `0${values}`)
                }
                return values
            };

            time.forEach(function (time, index) {
                time.innerHTML = format(values[index])
            });
        }
        var countdown = setInterval(remaindingTime, 1000);


        const elements = document.querySelectorAll('.commodity');
        console.log('Elements found:', elements);
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('animate__animated', 'animate__backInUp');
                    entry.target.style.opacity = 1; // 顯示元素
                    observer.unobserve(entry.target); // 動畫觸發後停止觀察
                }
            });
        }, {
            threshold: 0.1 // 當元素的 10% 進入視窗時觸發
        });

        elements.forEach(element => {
            observer.observe(element);
        });
    })
</script> --}}