{{#with data}}

<div class="product-container">
    <div class="product__imageContainer">
        <img src='/images/{{class}}.jpg' alt="" class="product__image">
    </div>
    <div class="product__detail">
        <h1 class="product__name-title">{{name}}</h2>
            <div class="product-price">
                <div class="product-price__sale-price">${{sale_price}}</div>
            </div>
            <div class="product-addToCart">
                <select name="{{class}}_{{id}}" id="{{class}}_{{id}}" class="product-addToCart__dropdown">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                </select>
                <span class="product-addToCart__btn">
                    <span class="product-addToCart__btn-text">加入購物車</span>
                </span>
            </div>
    </div>
</div>
{{/with}}