<section class="commodity">
    <h2 class="commodity_title">搜尋結果</h2>
    <div class="commodity-container container" id="pagination">
        {{#each data}}
        {{#with this}}
        <div class="commodity-col">
            <div class="commodity-card">
                <div class="card-cover">
                    <p class="card__discount ">{{discount}}折</p>
                    <a href="/product/{{id}}">
                        <img src="/images/{{class}}.jpg" alt="" class="card__img">
                    </a>
                </div>
                <div class="card-content">
                    <p class="card__name">{{name}}</p>
                    <select name="{{class}}_{{id}}" id="{{class}}_{{id}}" class="card__select">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>
                </div>
                <div class="card-oder">
                    <div class="card-price">
                        <div class="card-price__priceafter">${{sale_price}}</div>
                        <div class="card-price__pricebefore">${{price}}</div>
                    </div>
                    <button onclick="addcard('{{class}}',{{id}})" class="card__btn">加入購物車</button>
                </div>
            </div>
        </div>
        {{/with}}
        {{/each}}
    </div>
</section>